.font{
    height: 1085px;
    background-image: url(banner2.jpg);
   width: 100%;
}



.font .we3{
    width: 170px;
    padding: 20px;
    margin-left: -170px;
   transition: 1s;
    background-color: rgb(104, 9, 104);
 
}
.font .we3:hover{
    margin-left: 0px;
}
.font .we3 button{
    margin-left: 20px;
    margin-top: 10px;

}
.we3 img:hover{
    
    background-color:black;
}
font{
font-weight: bold;


}
.font h1{
    color: white;
    margin-left: 100px;
}
.font p{
    color: white;
}
.font button{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border: none;
    margin-left: 100px;
}
 .font button:hover{
    background-color: brown;
    transition: all 1s;
}
.bb{
    background-repeat: no-repeat;
    margin-left: 750px;
    margin-top: -470px;
}
.west h1{
padding: 40px;


    text-align: center;
}
.west p{
    font-size: 20px;
}
.g1 {
    padding: 20px;
    background-color: brown;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 60px;
    text-align: center;

}
.g2{
    padding: 20px;
    background-color: brown;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 60px;
    text-align: center; 
}
.g3{
    padding: 20px;
    background-color: brown;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 60px;
    text-align: center;
}
.kk{
    padding: 10px 350px;
    margin-left: 20px;
    display: flex;
    border-spacing: 20px;
    margin-bottom: 150x;
}
.g1 img{
    margin: 50px;
}

.g1 p{
    padding: 20px;
text-align: justify;
margin-right: 10px;
width: 200px;

}
.g2 img{
    margin: 50px;
}
.g2 p{
    padding: 20px;
    text-align: justify;
    margin-right: 10px;
    width: 200px;
}
.g3 img{
    margin: 50px;
}
.g2 p{
    padding: 20px;
    text-align: justify;
    margin-right: 10px;
    width: 200px;
}
.mic{
    padding: 30px;
    
    height: auto;
margin-top: 250px;
    background-color: blueviolet;
    justify-content: center;
}
.mic p{
    padding: 20px;

}


.ll{
    padding: 20px;
    display: flex;
}
.ll img{
    width: 50%;
    border-radius: 30px;
}
.vv button{
    width: 150px;
    height: 50px;
    padding: 10px;
    color: black;
    border-radius: 20px;
    border: none;
    margin-top: -600px;
}
.vv button:hover{
    background-color: red;
    border: none;
    color: white;
    transition: all 0.5s;
}
.un h1{
text-align: center;
}
.un p{
    text-align: center;
}
.w1{
    padding: 10px;
    display: flex;
    margin-left: 270px;

}
.w2{
    width: 300px;
    height: 300px;
    border: 10px solid rgb(218, 130, 238);
    border-radius: 50%;
    background-image: url(mics_img1.jpg);

}
.w2 i{
    display: none;
    padding: 10px;
    font-size: 32px;
    margin-left: 140px;
    margin-top: 100px;

}

  

.w2:hover{
    opacity: 0.5;
    transition: all 1s;
}
.w2:hover i{
    transform: scale(1.5);
    display: block;
    color: violet;
}
.w3{
    width: 300px;
    height: 300px;
    border: 10px solid rgb(220, 130, 238);
    border-radius: 50%;
    background-image: url(mics_img1.jpg);
    margin-left: 50px;
    
}
.w3 i{
    
    display: none;
    padding: 10px;
    font-size: 32px;
    margin-left: 140px;
    margin-top: 100px;
}

.w3:hover {
   
    opacity: 0.5;
    transition: all 1s;

}
.w3:hover i{
    transform: scale(1.5);
    display: block;
    color: violet;
}

.w4{
    width: 300px;
    height: 300px;
    border: 10px solid rgb(218, 130, 238);
    border-radius: 50%;
    background-image: url(mics_img3.jpg);
    margin-left: 50px;
}
.w4 i{
    display: none;
    padding: 10px;
    font-size: 32px;
    margin-left: 140px;
    margin-top: 100px;

}
.w4:hover{
    opacity: 0.5;
    transition: all 1s;

}
.w4:hover i{
    transform: scale(1.5);
    display: block;
    color: violet;

}
.x{
    padding: 10px;
    display: flex;
    margin-left: 270px;
}

   

.x1{
    width: 300px;
    height: 300px;
    border: 10px solid rgb(218, 130, 238);
    border-radius: 50%;
    background-image: url(mics_img4.jpg);
}
.x1 i{
    display: none;
    padding: 10px;
    font-size: 32px;
    margin-left: 140px;
    margin-top: 100px;


}
.x1:hover{
    opacity: 0.5;
    transition: all 1s;
}
.x1:hover i{
    transform: scale(1.5);
    display: block;
    color: violet;


}
.x2{
    width: 300px;
    height: 300px;
    border: 10px solid rgb(218, 130, 238);
    border-radius: 50%;
    background-image: url(mics_img5.jpg);
    background-size: 300px;
    background-repeat: no-repeat;
    margin-left: 50px;
}
.x2 i{
    display: none;
    padding: 10px;
    font-size: 32px;
    margin-left: 140px;
    margin-top: 100px;


}
.x2:hover{
    
    opacity: 0.5;
   
    transition: all 1s;
}
.x2:hover i{
    transform: scale(1.5);
    display: block;
    color: violet;

}
.x3{
    width: 300px;
    height: 300px;
    border: 10px solid rgb(218, 130, 238);
    border-radius: 50%;
    background-image: url(mics_img6.jpg);
    background-size: 300px;
    background-repeat: no-repeat;
    margin-left: 50px;
}
.x3 i{
    display: none;
    padding: 10px;
    font-size: 32px;
    margin-left: 140px;
    margin-top: 100px;


}
.x3:hover{
   
    opacity: 0.5;
    transition: all 1s;
}
.x3:hover i{
    transform: scale(1.5);
    display: block;
    color: violet;
 
}
.sico{
    padding: 30px;
    background-color: rgb(106, 16, 151);
    text-align: center;
}
.pics{
    width: 750px;
    background-color: white;
    margin-left: 400px;
    margin-top: -10px;
border-radius: 40px;
}
.mm{
    margin-left: 650px;
}
.jk{
    padding: 10px;
    margin-right: 650px;
}
.pics p{
    padding: 5px 10px;
}
.fo{
    margin-left: 50px;
}
.fo h1{
    margin-left: 50px;
}
.fo p{
    font-style: oblique;
    width: 900px;
    margin-left: 40px;
}
 .i1 input{
    width: 80%;
    background-color: rgba(128, 128, 128, 0.44);
    height: 40px;
    border: none;
    margin-left: 40px;
    
}
.i2 input {
width: 38.5%;
border: none;
height: 40px;
background-color: rgba(128, 128, 128, 0.421);
margin-left: 40px;
margin-top: 15px;

}
.i3 input {
   
    width: 80%;
    background-color: rgba(128, 128, 128, 0.477);
    height: 70px;
    border: none;
    margin-left: 40px;
    margin-top: 15px;
}
.hg button{
width: 150px;
height:43px;
background-color: black;
color: white;
margin-left: 550px;
margin-top: 35px;
}
.hg button:hover{
    background-color: blueviolet;
    transition: all 1s;
    border: none;
}
.footer{
    background-image: url(footer.jpg);
width: 100%;
height: 700px;
background-repeat: no-repeat;
background-color: rgb(60, 12, 105);



}
.footer img{
    margin-top: 300px;
    margin-left: 250px;
}
.fot{
    width: 200px;
    height: 50px;
    color: white;
    margin-left: 220px;
    
}
.ol{
    width: 200px;
    height: 50px;
    color: white;
    margin-left: 400px;
}
.uj{
    display: flex;
}
.ol i{
margin: 10px;
  font-size: xx-large;
}
.ol i:hover{
    color: red;
    transition: all 0.5s;
}
.vbn{
   margin-left: 170px; 
color: white;



}
.vbn input{
    height: 50px;
   width: 200px;
   background-color: rgba(128, 128, 128, 0.662);
   border: none;
   opacity: 1;
   color: black;
}
.vbn button{
    background-color: red;
    height: 50px;
    border: none;
    color: white;
    margin: 50px;
}
.vbn button:hover{
background-color: brown;
transition: all 1s;
}
.word a{
    color: white;
    margin: 20px;
}
.word{
    margin-left: 200px;
}
.word a:hover{
   transition: all 1s;
    color: red;
}
@media (min-width:1000px) and (max-width:1600px)